<div class="navBar">

    <div class="hrefDiv">
        <a href='./' class="navItem">Home</a>
        <a href='./chucknorris' class="navItem">Chuck Norris</a>
        <a href='./harrypotter' class="navItem">Harry Potter</a>
        <a href='./starwars' class="navItem">Star Wars</a>
        <a href='./nasa' class="navItem">NASA</a>
        <a href='./weather' class="navItem">Weather</a>
    </div>

</div>