<div class="chuckNorrisDiv">
<h1 class="chuckFont">Chuck Norris Jokes API</h1>
{{joke}}<br>



<img class="chuckPic" src="/images/chuck-norris.jpg" alt="chuck norris" /> 
<button class="chuckBtn" onclick="window.location.reload()"> Click me to refresh the page</button>

</div>
