<div class="chuckNorrisDiv">
<h1 class="chuckFont">Chuck Norris Jokes API</h1>
{{joke}}<br>
<button class="chuckBtn">Click Me</button>


<img class="chuckPic" src="/images/chuck-norris.jpg" alt="chuck norris" /> 

</div>