<div class="harryDiv">
    
<h1 class="harryFont">Harry Potter API</h1>

<button class="harryBtn" onclick="window.location.reload()"><img class="hatPic" src="/images/hat.jpg" alt="Sorting Hat" /></button>


<p >The hat has chosen: <h2 class="harryFont1">{{data}}</h2></p>

</div>