<h1 class="nasaFont">NASA Daily API</h1>

<ul>
<li>Date: {{date}}</li>
<li>Explanation: {{explain}}</li>
<li>Title of URL: {{title}}</li>
<li>URL Link: {{url}}</li>


</ul>


<img class="nasaPic" src="/images/nasa.jpg" alt="nasa logo" /> 



