<h1 class="nasaFont">NASA Daily API</h1>

<ul>
<li>Date: {{date}}</li>
<li>Explanation: {{explain}}</li>

</ul>

<h2>{{title}}</h2>

<img class="picOfDay" src={{url}} alt="Picture of the Day" /> 
<img class="nasaPic" src="/images/nasa.jpg" alt="nasa logo" /> 



