<div class="starDiv">
<button class="starBtn" onclick="window.location.reload()"><h1 class="starFont">Star Wars APi</h1></button>
<ul>
<li>{{title}}</li>
<li>{{hair}}</li>
<li>{{gender}}</li>


</ul>



</div>
